# Python
__pycache__/
*.pyc
*.pyo

CLAUDE.md
# Env
.env
.venvg
# Logs
*.log

# postman
.postman
postman
# Database (local)
*.sqlite3
*.db

# Docker
Docker/db_data/

# OS
.DS_Store

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/

static/uploads/dokter/