fastapi
uvicorn
sqlalchemy
aiomysql
pydantic-settings
dependency-injector
python-dotenv
docker
mysql-client
python-dotenv
pydantic
fastapi
uvicorn
sqlalchemy
aiomysql
pydantic-settings
dependency-injector
python-dotenv
docker
mysql-client