{% extends "base.html" %} {% block prefetch %} {%endblock %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />

{% endblock %} {% block content %}
<!-- end of navbar-->
<!-- SIDEBAR -->
<div class="d-flex min-vh-100">
  {% include 'sidebar.html' %}

  <!-- content-->

  <!-- MAIN CONTENT -->
  <main class="main-content flex-grow-1 px-3">
    <div class="container">
      <div class="d-flex align-items-start justify-content-between">
        <div>
          <h2 style="color: #4b2e2b">My Address</h2>
          <p style="color: #8c5a3c; font-size: 14px">
            View and manage your address
          </p>
        </div>

        <div class="btn background-green text-white rounded-pill p-2 ms-3 a">
          <i class="bi bi-plus-lg me-2"></i>Add Address
        </div>
      </div>

      <!--card -->
      <div class="row">
        <div class="col-sm-6 pb-4">
          <div
            class="card background-brown-with-green-border"
            style="border-radius: 10px"
          >
            <div class="card-body">
              <div
                class="d-flex gap-3 justify-content-between align-items-center"
              >
                <div class="d-flex gap-3 align-items-center">
                  <div class="icon-box">
                    <i class="bi bi-house fs-5"></i>
                  </div>
                  <div>
                    <h6 class="mb-0 fw-bold">Home</h6>
                    <small
                      class="text-white background-green rounded-pill px-2"
                      style="
                        font-size: 12px;
                        padding-bottom: 2px;
                        padding-top: 2px;
                      "
                      >default</small
                    >
                  </div>
                </div>
                <div class="icon-box-red btn">
                  <i class="bi bi-trash3 px-2 text-red"></i>
                </div>
              </div>

              <div>
                <ul
                  class="list-unstyled text-brown mb-4 mt-3"
                  style="font-size: small"
                >
                  <li class="text-dark-brown mb-2 mt-2">Keq Qixing</li>
                  <li class="mb-2">123 Main Street,APT A1</li>
                  <li class="mb-2">Liyue ,CN 100001</li>
                  <li>+6289603518234</li>
                </ul>
              </div>

              <hr class="w-100 text-brown" style="opacity: 0.2" />
              <div
                class="btn w-100 rounded-pill border-brown background-light-brown"
              >
                <i class="bi bi-pencil-square text-dark-brown"></i>
                <span class="text-dark-brown">edit</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pb-4">
          <div
            class="card background-little-bit-light-brown"
            style="border-radius: 10px"
          >
            <div class="card-body">
              <div
                class="d-flex gap-3 justify-content-between align-items-center"
              >
                <div class="d-flex gap-3 align-items-center mb-1">
                  <div class="icon-box">
                    <i class="bi bi-buildings fs-5"></i>
                  </div>
                  <div>
                    <h6 class="fw-bold">Office</h6>
                  </div>
                </div>
                <div class="icon-box-red btn">
                  <i class="bi bi-trash3 px-2 text-red"></i>
                </div>
              </div>

              <div>
                <ul
                  class="list-unstyled text-brown mb-4 mt-3"
                  style="font-size: small"
                >
                  <li class="text-dark-brown mb-2 mt-2">Keq Qixing</li>
                  <li class="mb-2">123 Main Street,APT A1</li>
                  <li class="mb-2">Liyue ,CN 100001</li>
                  <li>+6289603518234</li>
                </ul>
              </div>

              <hr class="text-brown" style="opacity: 0.2" />
              <div class="row">
                <div class="col-sm-6">
                  <div
                    class="btn w-100 rounded-pill border-brown background-light-brown"
                  >
                    <i class="bi bi-pencil-square text-dark-brown"></i>
                    <span class="text-dark-brown">edit</span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="btn w-100 rounded-pill button-green font-green">
                    <i class="bi bi-pencil-square"></i>
                    Set default
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div
            class="card background-little-bit-light-brown"
            style="border-radius: 10px"
          >
            <div class="card-body">
              <div
                class="d-flex gap-3 justify-content-between align-items-center"
              >
                <div class="d-flex gap-3 align-items-center mb-1">
                  <div class="icon-box">
                    <i class="bi bi-buildings fs-5"></i>
                  </div>
                  <div>
                    <h6 class="fw-bold">Office</h6>
                  </div>
                </div>
                <div class="icon-box-red btn">
                  <i class="bi bi-trash3 px-2 text-red"></i>
                </div>
              </div>

              <div>
                <ul
                  class="list-unstyled text-brown mb-4 mt-3"
                  style="font-size: small"
                >
                  <li class="text-dark-brown mb-2 mt-2">Keq Qixing</li>
                  <li class="mb-2">123 Main Street,APT A1</li>
                  <li class="mb-2">Liyue ,CN 100001</li>
                  <li>+6289603518234</li>
                </ul>
              </div>

              <hr class="text-brown" style="opacity: 0.2" />
              <div class="row">
                <div class="col-sm-6">
                  <div
                    class="btn w-100 rounded-pill border-brown background-light-brown"
                  >
                    <i class="bi bi-pencil-square text-dark-brown"></i>
                    <span class="text-dark-brown">edit</span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="btn w-100 rounded-pill button-green font-green">
                    <i class="bi bi-pencil-square"></i>
                    Set default
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--end of content-->

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>

  {% endblock %}
</div>
