{% extends "base.html" %} 
{% block prefetch %} {%endblock %} 
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
{% endblock %} 

{% block content %}
<div class="d-flex min-vh-100">
  {% include 'sidebar.html' %}

  <main class="main-content flex-grow-1 px-3">
    <div class="container">
      <div class="d-flex align-items-start justify-content-between">
        <div>
          <h2 style="color: #4b2e2b">My Address</h2>
          <p style="color: #8c5a3c; font-size: 14px">View and manage your address</p>
        </div>

        <a href="/add-address-page" class="btn background-green text-white rounded-pill p-2 ms-3">
          <i class="bi bi-plus-lg me-2"></i>Add Address
        </a>
      </div>

      <div class="row">
        {% for alamat in addresses %}
        <div class="col-sm-6 pb-4">
          <div class="card {{ 'background-brown-with-green-border' if alamat.is_default else 'background-little-bit-light-brown' }}" style="border-radius: 10px">
            <div class="card-body">
              <div class="d-flex gap-3 justify-content-between align-items-center">
                <div class="d-flex gap-3 align-items-center">
                  <div class="icon-box"><i class="bi bi-house fs-5"></i></div>
                  <div>
                    <h6 class="mb-0 fw-bold">{{ alamat.label_alamat }}</h6>
                    {% if alamat.is_default %}
                    <small class="text-white background-green rounded-pill px-2" style="font-size: 12px">default</small>
                    {% endif %}
                  </div>
                </div>
                
                <form action="/address/delete" method="POST">
                    <input type="hidden" name="alamat_id" value="{{ alamat.id_alamat }}">
                    <button type="submit" class="icon-box-red btn border-0">
                        <i class="bi bi-trash3 px-2 text-red"></i>
                    </button>
                </form>
              </div>

              <div>
                <ul class="list-unstyled text-brown mb-4 mt-3" style="font-size: small">
                  <li class="text-dark-brown mb-2 mt-2">{{ user.nama }}</li>
                  <li class="mb-2">{{ alamat.alamat }}</li>
                  <li class="mb-2">{{ alamat.kota }}, {{ alamat.provinsi }} {{ alamat.kode_pos }}</li>
                  <li>{{ user.no_telepon }}</li>
                </ul>
              </div>

              <hr class="w-100 text-brown" style="opacity: 0.2" />
              
              <div class="row">
                  <div class="col-sm-6">
                      <a href="/edit-address-page?id={{ alamat.id_alamat }}" class="btn w-100 rounded-pill border-brown background-light-brown text-dark-brown">
                          <i class="bi bi-pencil-square"></i> Edit
                      </a>
                  </div>
                  {% if not alamat.is_default %}
                  <div class="col-sm-6">
                      <form action="/address/set-default" method="POST">
                          <input type="hidden" name="alamat_id" value="{{ alamat.id_alamat }}">
                          <button type="submit" class="btn w-100 rounded-pill button-green font-green">
                              Set default
                          </button>
                      </form>
                  </div>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
</div>
{% endblock %}