{% extends 'base.html' %} {% block prefetch %} {%endblock %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
{% endblock %} {% block content %}
<!-- end of navbar-->
<!-- content-->

<!-- MAIN CONTENT -->
<main class="main-content">
  <div class="container">
    <div class="d-flex align-items-center ms-4">
      <div class="d-flex">
        <a href="/petcaredashboard"
          ><i class="btn bi bi-arrow-left fs-2"></i
        ></a>
      </div>
      <div class="ms-4">
        <h3 style="color: #4b2e2b">Add New Pet</h3>
        <p style="color: #8c5a3c; font-size: 14px">
          Enter your pets information
        </p>
      </div>
    </div>
    <div class="justify-content-center">
      <form action="/pets/add" method="post">
        <div class="card w-75 mx-auto mt-4 border-10px">
          <div class="card-body">
            <h6 class="card-title">Pet photo</h6>
            <div
              class="btn icon-circle-big d-flex align-items-center justify-content-center mx-auto flex-column text-dark-brown"
            >
              <div><i class="bi bi-upload icon-size"></i></div>
              <span style="font-size: 9px">Upload photo</span>
            </div>
          </div>
        </div>

        <div class="card w-75 mx-auto mt-4 border-10px">
          <div class="card-body">
            <h6 class="card-title mb-3">Basic information</h6>

            <div class="mb-3">
              <label class="form-label">Pet name *</label>
              <input
                type="text"
                class="form-control rounded-pill background-light-brown placeholder-font-size"
                placeholder="e.g. Max"
                name="pet_name"
                required
              />
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Species *</label>
                  <select
                    name="jenis_hewan"
                    class="form-select rounded-pill background-light-brown"
                    required
                  >
                    <option value="Anjing">Anjing</option>
                    <option value="Kucing">Kucing</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb-3">
                  <label class="form-label">Breed *</label>
                  <input
                    type="text"
                    name="ras_hewan"
                    class="form-control rounded-pill background-light-brown"
                    placeholder="e.g., Anggora, Persia, Shiba Inu"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Age</label>
                  <input
                    type="text"
                    class="form-control rounded-pill background-light-brown"
                    placeholder="e.g., 3 years"
                    name="umur"
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Weight</label>
                  <input
                    type="text"
                    class="form-control rounded-pill background-light-brown"
                    placeholder="e.g., 5 kg"
                    name="berat"
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="Select" class="form-label">Gender *</label>
                  <select
                    id="Select"
                    name="gender"
                    class="form-select rounded-pill background-light-brown"
                    required
                  >
                    <option value="Jantan">Jantan</option>
                    <option value="Betina">Betina</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Color</label>
              <input
                type="text"
                name="warna"
                class="form-control rounded-pill background-light-brown"
                placeholder="e.g., Black"
              />
            </div>
          </div>
        </div>

        <div class="row w-75 mx-auto mt-4 mb-5 gap-4">
          <a
            href="/pets"
            class="col btn btn-danger rounded-pill d-flex align-items-center justify-content-center"
            >Cancel</a
          >
          <div class="col rounded-pill p-0">
            <button
              type="submit"
              class="btn text-white w-100 rounded-pill background-green"
            >
              Add Pet
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
<!--end of content-->

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
{% endblock %}
